.Contact {
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100%;
}

.contactBackgroundImage {
    background-image: url("backgroundImages/contactBackground.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.contactForm {
    position: absolute;
    left: 20%;
    right: 20%;
    border-radius: 20px;
    background: rgba(159, 229, 145, 0.7);
    background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgba(222, 142, 37, 0.78) 100%);
    color: whitesmoke;
}

.FormLabels {
    font-size: 1.5rem;
    padding: 10px;
}

.formText {
    padding: 10px;
}

.formTextarea {
    max-height: 200px;
}

@media (max-width: 600px) {
    .formTextarea {
        height: 200px;
    }
}

@media (max-width: 400px) {
    .contactForm {
        display: grid;
        align-items: center;
        left: 0;
        width: 100%;
    }
}

.submitHoorayButton {
    padding: 10px 20px;
    background: white;
    color: #333333;
    border: 1px solid darkslategrey;
    border-radius: 10px;
    transition: all 1s ease-in-out;
}

.submitHoorayButton:hover {
    transition: .5s;
    background: darkslategrey;
    color: whitesmoke;
}