.Course {
    margin: 20px;
}

.CourseCard {
    padding: 20px;
    text-align: center;
    border-radius: 25px;
    height: 400px;
    transition: all 1s ease-in-out;
}

.CourseCard:hover {
    z-index: 1;
    transition: .3s;
    scale: 1.1;
    box-shadow: #cccccc 0 0 222px 10px;
}

.CourseImage {
    height: 300px;
    width: 400px;
}

@media (max-width: 450px) {
    .CourseCard {
        height: 300px;
    }

    .CourseImage {
        height: 200px;
        width: 300px;
    }
}

.coursePreRequestSpace {
    margin: 20px;
}

.CoursePreRequestText {
    margin: 20px;
    text-align: justify;
}

.CoursePreRequestLeft {
    text-align: justify;
    color:  black;
    margin-bottom: 10px;
    border-radius: 10px 0 10px 0;
    width: 40%;
    padding: 20px;
    background: #ecf8ff;
    font-size: 1.5rem;
}

.CoursePreRequestRight {
    text-align: justify;
    color:  whitesmoke;
    margin-bottom: 10px;
    border-radius: 0 10px 0 10px;
    position: sticky;
    left: 100%;
    width: 40%;
    padding: 20px;
    background: #a0bba9;
    font-size: 1.5rem;
}

@media (max-width: 1280px) {
    .CoursePreRequestLeft {
        width: 100%;
        font-size: 1.2rem;
    }

    .CoursePreRequestRight {
        width: 100%;
        font-size: 1.2rem;
    }
}