.coursePreRequestSpace {
    margin: 100px;
}

.CoursePreHead {
    font-size: 20px;
    padding: 20px;
}

@media (max-width: 500px) {
    .coursePreRequestSpace {
        margin: 20px;
    }
}

.PreREQTags {
    margin: 100px;
}

@media (max-width: 500px) {
    .PreREQTags {
        margin: 20px;
    }
}

.CoursePreRequestText {
    margin: 20px;
    text-align: justify;
}

.CoursePreRequestLeft {
    text-align: justify;
    margin-bottom: 10px;
    border-radius: 10px 0 10px 0;
    width: 40%;
    padding: 10px;
    background: #ee5a0b;
    font-size: 1.5rem;
}

.CoursePreRequestRight {
    text-align: justify;
    margin-bottom: 10px;
    border-radius: 0 10px 0 10px;
    position: sticky;
    left: 100%;
    width: 40%;
    padding: 10px;
    background: #157679;
    font-size: 1.5rem;
}

@media (max-width: 1280px) {
    .CoursePreRequestLeft {
        justify-content: space-around;
        width: 100%;
        font-size: 1.2rem;
        text-align: center;
    }

    .CoursePreRequestRight {
        text-align: center;
        width: 100%;
        font-size: 1.2rem;
    }
}