.backgroundImage {
    background-image: url("backgroundImages/backgroundImage.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

@media (max-width: 551px) {
    .helloText {
        left: 0;
        width: 100%;
    }
}

.Header {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    align-items: center;
    text-align: center;
    background: rgba(21, 118, 121, 0.87);
    color: #ffcb67;
}

@media (max-width: 360px) {
    .HeaderText {
        font-size: 1.5rem;
    }
}


.HeaderText {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: darkgreen;
    box-shadow: aliceblue 0 0 10px 10px;
    border-radius: 20px;
    font-size: 2vw;
}

.HeaderPhrase {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: crimson;
    border-radius: 20px;
    padding: 20px;
    font-size: 2vw;
}

@media (max-width: 600px){
    .HeaderText, .HeaderPhrase {
        font-size: 5vw;
    }
}

.HeaderLogo {
    width: 70%;
}