.backgroundImage {
    background-image: url("backgroundImages/backgroundImage.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

@media (max-width: 551px) {
    .helloText {
        left: 0;
        width: 100%;
    }
}

.HeaderText {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    background: rgba(21, 118, 121, 0.87);
    color: #ffcb67;
}

@media (max-width: 360px) {
    .HeaderText {
        font-size: 1.5rem;
    }
}


.HeaderTextInside {
    background: darkgreen;
    box-shadow: aliceblue 0 0 10px 10px;
}