.App {
  overflow: hidden;
  cursor: default;
  font-family: "Comic Sans MS", monospace, sans-serif, serif;

  /*Todo night mode */
  /*background: black;*/
  /*color: whitesmoke;*/
}

a {
  color: whitesmoke;
  cursor: pointer;
  text-decoration: none;
  transition: all 1s ease-in-out;
}

a:hover {
  color: whitesmoke;
  transition: .3s;
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  transition: all 1s ease-in-out;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  transition: .3s;
  background: #555;
}